[workspace]
members = ["rocketsim", "rocketsim_flat"]
resolver = "3"
package.license-file = "LICENSE"
package.version = "0.2.0"

[workspace.dependencies]
glam = "0.30.9"

[profile.release]
debug = true
lto = true
codegen-units = 1
panic = "abort"

[profile.dev]
opt-level = 1
